.count{
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;
    padding:3px 5px;
    border:1px solid var(--white1);
    outline: none;
     margin-top:5px;
     font-size: 1.5rem;
}

.add{
    margin-top:5px;
    background-color: var(--red1);
    color:var(--white1);
    padding:5px 10px;
    border:none;
    border-radius: 10px;
    font-size: 1.5rem;
}

.remove{
    padding-right: 3px;
    border:none;
    border-radius: 10px;
    display: none;
    font-size: 3rem;
}


.cart {
    border-bottom: 1px solid var(--lightred);
    padding-top: 5rem;
}
.cart .name{
    padding-top:5px;
    padding-bottom: 5rem;
    height:40px;
    font-weight: 600;
    font-size: 4rem;
    border-bottom:1px solid var(--lightred)
}
.danger{
    box-shadow: 0 10px 10px var(--red1);
    transform: translate(0,-10px);
}
.cart .add{
    display: none;
}
.cart .remove{
    display: inline-block!important;
}

.cart .disGrid_item {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    margin-bottom: 2rem;
}


@media only screen and (min-width: 768px) {
	.cart {
        width: 40%;
    }
}

.empty {
    font-size: 3rem;
    padding-bottom: 5rem;
}

.btn10 {
	color: var(--red1);
	font-family: 'Kanit';
	border: none;
    margin-top:5px;
    padding:5px 8px;
    border-radius: 10px;
    font-size: 1.4rem;
}

.primary-btn10 {
	color: var(--white1);
	background: var(--red1);
}

.delete_icon {
    margin-top: 1rem;
    text-align: right;
    border: none;
    font-size: 2rem;
}

